@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Delete";

    Layout = "_HomeLayout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HotelRoom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFriendly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFriendly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoomID" />
        <input type="hidden" asp-for="HotelID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
