@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Details";

    Layout = "_HomeLayout";
}

<h1>Details</h1>

<div>
    <h4>Hotel Rooms</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Room Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class="col-sm-2">
            Pet Friendly
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetFriendly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt class="col-sm-2">
            Room Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumberID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.RoomNumberID, Model.HotelID }) 
    <a asp-action="Index">Back to List</a>
</div>
