@model IEnumerable<AsyncInn.Models.HotelRoom>

@{
    ViewData["Title"] = "Index";

    Layout = "_HomeLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Room Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                Pet Friendly
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                Room Number
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumberID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.RoomID, item.HotelID }) |
                @Html.ActionLink("Details", "Details", new { item.RoomID, item.HotelID }) |
                @Html.ActionLink("Delete", "Delete", new { item.RoomID, item.HotelID })
            </td>
        </tr>
}
    </tbody>
</table>
