@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";

    Layout = "_HomeLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amenities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amenities.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.AmenitiesID, item.RoomID }) |
                @Html.ActionLink("Details", "Details", new { item.AmenitiesID, item.RoomID }) |
                @Html.ActionLink("Delete", "Delete", new { item.AmenitiesID, item.RoomID })
            </td>
        </tr>
}
    </tbody>
</table>
